*{
    margin: 0;
    padding: 0;
}

body{
    background: #ebebeb;
    
}

#nav{
    margin: 0;
    padding: 0;
    float: left;
}


#nav li{
    list-style: none;
    background: #fff;
    width: 250px;
    border-bottom: 1px solid #666;
}

#nav li a{
    display: block;
    padding: 8px;
    border-left: 4px solid #444;
    text-decoration: none;
    box-shadow: 2px 2px 5px #ccc;
    color: #555;
}

#nav li a:hover{
    border-left: 4px solid #069;
    background: #f8f8f8;
}
